body{
    background-color: lightcoral;
    font-size: 18px;
    font-family: monospace;
}
.heading{
    width: 100%;
    margin-top: 0px;
    font-size: 30px;
}
#camera {
    border: 2px solid black;
    width: 350px;
    height: 300px;
}